<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--Base Link-->
<link name = 'base_link'></link>

<!--Base Footprint-->
<link name = 'base_footprint'></link>

<joint name="footprint_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>

<!--Chassis-->
<link name="chassis">
    <visual>
        <origin xyz="0 0 0.025" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.15" length = "0.1"/>
        </geometry>
        <material name="white"/>
    </visual>

    <collision> 
         <origin xyz="0 0 0.025" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.15" length = "0.1"/>
        </geometry>
    </collision>

    <xacro:inertial_cylinder mass="0.5" radius="0.15" length="0.1">
        <origin xyz="0 0 0.025" rpy="0 0 0"/>
    </xacro:inertial_cylinder>

</link>
<joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
</joint>


</robot>